/*allting ligger i body, struktur och textyp är definerad här*/
body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
/*Utseende på dealerns kort*/
#dealer_kort img {
  height: 175px;
  width: 125px;
  margin: 3px;
}

/*Utseende på spelarens kort*/
#spelare_kort img {
  height: 175px;
  width: 125px;
  margin: 3px;
}
/*Utseendet på hit knappen*/
#hit {
  height: 50px;
  width: 100px;
  margin: 1px;
  font-size: 130%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/*Utseendet på stanna knappen*/
#stanna {
  height: 50px;
  width: 100px;
  margin: 1px;
  font-size: 130%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/*Utseendet på ny runda knappen*/
#ny_runda {
  height: 50px;
  width: 120px;
  margin: 1px;
  font-size: 130%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}